.features {
    background-color: $Accent;
    min-height: 864px;
    padding-bottom: 30px;
    
    &__section-title {
        color: $White;
        margin-bottom: 45px;
    }
}

.features__img {
    margin-top: 125px;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    min-height: 382px;
    display: flex;
    align-items: center;
    position: relative;
}
 
.features__img img {
    display: block;
    margin: 0 auto;
}


.features__list {
    position: relative;
    padding-top: 1px;
    
    &:after {
        content: "";
        background-image: url("../img/scheme.svg");
        position: absolute;
        width: 100%;
        height: 100%;
        top: 14px;
        -webkit-background-size: 673px;
             -o-background-size: 673px;
                background-size: 673px;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.features__item {
    background-repeat: no-repeat;
    padding-left: 74px;
    margin-bottom: 30px;
    max-width: 300px;
    position: absolute;
    user-select: none;
}

.features__item--save {
    background-image: url("../img/vendor/feature/ico-save.svg");
    top: 0;
}
.features__item--respire {
    background-image: url("../img/vendor/feature/ico-respire.svg");
    top: 85px;
    max-width: 320px;
}
.features__item--frost {
    background-image: url("../img/vendor/feature/ico-save.svg");
    top: 193px;
    max-width: 370px;
}
.features__item--voice {
    background-image: url("../img/vendor/feature/ico-voice.svg");
    top: 396px;
}
.features__item--simple {
    background-image: url("../img/vendor/feature/ico-simple.svg");
    max-width: 330px;
}
.features__item--ecology {
    background-image: url("../img/vendor/feature/ico-ecology.svg");
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
    max-width: 436px;
}
.features__item--fire {
    background-image: url("../img/vendor/feature/ico-fire.svg");
    max-width: 436px;
    margin: auto;
    left: 40px;
    right: 0;
    top: 488px;
}
.features__item--accuracy {
    background-image: url("../img/vendor/feature/ico-accuracy.svg");
    top: 0;
    right: 0;
    max-width: 370px;
}
.features__item--sun {
    background-image: url("../img/vendor/feature/ico-sun.svg");
    right: 0;
    top: 190px;
    max-width: 370px; 
}
.features__item--hammer {
    background-image: url("../img/vendor/feature/ico-hammer.svg");
    right: 71px;
    top: 386px;
}
.features__item--weight {
    background-image: url("../img/vendor/feature/ico-weight.svg");
    right: 0;
    max-width: 370px;
}


.features__name {
    color: $Dark;
}

.features__descr {
    color: $Dark;
}

@media (max-width: 1280px) {
    .features__list:after {
        display: none;
    }

    
    .features--mob .features__section-title {
        
    }

    .features--mob .features__img {
        max-width: 100%;
        margin-top: 0;
        min-height: auto;
    }

    .features--mob .features__item {
        margin-right: 5px;
        margin-left: 5px;
        position: relative;
        left: auto;
        top: auto;
        right: auto;
        bottom: auto;
        max-width: 100%;
        margin-bottom: 0;
        padding: 13px 0 13px 0;
        background-size: 30px;
        border-bottom: 1px solid #fff;
        background-position: 10px 8px;
        cursor: pointer;
        

        &:after {
            content: "";
            position: absolute;
            top: 16px;
            right: 5px;
            background-image: url("../img/ico-down.svg");
            width: 10px;
            height: 10px;
            background-repeat: no-repeat;
        }
    }


    .features--mob .features__item.is-active:after {
        transform: rotate(180deg);
    }


    .features--mob .features__name {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 0;
        padding-left: 54px;
    }

    .features--mob .features__descr {
        font-size: 14px;
        line-height: 19px;
        padding-top: 10px;
        display: none;
    }
}
